<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PayPal</title>
  </head>
  <body>
    <h1>PayPal</h1>
    <form name="paypalForm" action="/paypal/createorder">
      <button type="submit">Pay</button>
    </form>
  </body>
</html>
